<h2 style="text-align:center"> Atif Thakor </h2>
<img src="/assets/images/AtifThakor.jpg" width="395" height="550">
<h5 style="text-align:center"> A Breif Introduction </h5>
<p> Hi, I'm Atif (Ah-tif). I am enrolled in the "Game - Programming" program at Centennial College. I have some experience in C++, C#, Javascript, HTML, CSS, Phyton, and SQL. I am also learning JAVA at the moment and other stuff that will help me create a fuller skillset. I have an interest in game development. I am excited for the future.</p>
<p></p>
<a href="/content/AtifThakor.pdf"><h6>MyResume</h6><a>