<!-- Bottom Nav -->
<!-- Bottom of the nav consists of copyright mention, a few navigation links, and a jumbotron -->
<footer>
<div id="bnav" class="jumbotron jumbotron-fluid">
  <div class="container">
  <h6 ><a id="a1" href="/aboutMe"> About Me </a> | <a id="a2" href="/projects"> Projects </a> | <a id="a3" href="/services"> Services </a> | <a id="a4" href="/contactMe"> Contact Me </a></h6>
  <h6><a id="a5" href ="#top"> Back to the top </a></h6>
  </div>
</div>
  <nav class="navbar bottom navbar-dark bg-dark">
    <h6 id="bnb" class="display-6 navbar-text">&copy; copyright 2020. All Rights Reserved.</h6>
  </nav>
</footer>