<!-- Bottom Nav -->
<footer>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h6 ><a href="/aboutMe"> About Me </a><a href="/products"> Products </a><a href="/services"> Services </a><a href="/contactUs"> Contact Us </a></h6>
  <h6><a href ="/"> Back to the top </a></h6>
  </div>
</div>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; copyright 2020. All Rights Reserved.</h6>
  </nav>
</footer>