<h3 id="pamt"> Account Management Form </h3>
<img id="pam" src="/assets/images/AccountManagementForm.png">
<p id="pamp">This was an account management form I created for my Programming II (C#) assignment, it manages your transactions, starting from your inital deposit with the bank/form. It keeps track of basic banking information for people and it allows you to make deposits and withdrawals. My role in the making of this form project was the role of developer. I designed the form and I wrote and implemented the code.</p>

<h3 id="pbst"> Bug Smasher Game </h3>
<img id="pbs" src="/assets/images/BugSmasherGame.png">
<p id="pbsp" >This is a Javascript game I created for an assignment, the concept is simple. You click on a bug your score goes up by one and the game spawns another bug on the screen. Killing each bug decreases the duration of the time the bug stays on screen. If you are too slow the bug will go away and spawn elsewhere. My role in the making of this game was the role of developer I set up the game and the script that made the game run.</p>

