<!-- Consists of the contents of the services page -->
<p id="sp"> HIT has you covered when it comes to your development need with expertise in general programming(C++ and C#), web development(Javascript and HTML along with CSS), game development with proficency in Unity and others. HIT gurantees you dedication, attention to detail, and satisfaction with our service.</p>
<img id="img1" src="/assets/images/CSLogo.png" width="400" height="400">
<img id="img2" src="/assets/images/CPLogo.png" width="250" height="250">
<img id="img3" src="/assets/images/PLogo.png" width="400" height="400">
<img id="img4" src="/assets/images/ULogo.jpg" width="385" height="385" >
<img id="img5" src="/assets/images/SQLLogo.png" width="360" height="210">
